<div class='row'>
  <div class='col s9 push-s2 m7 push-m2 l6 push-l2'>

    <div class='card'>

      <div class="card-title med-blue">
        <span>login</span>
      </div>

      <div class='card-content'>

        <form class='login-form'>
          <div>
            <label class='form-text' for='username-login'>username:</label>
            <input type='text' id='username-login' autocomplete="username" />
          </div>
          <div>
            <label class='form-text' for='password-login'>password:</label>
            <input type='password' id='password-login' autocomplete="current-password" />

          </div>
          <div class='buttons'>
            <button class="btn med-blue" type="submit" name="action">login
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div>
            <p class='center'>
              or <a href='/signup'>sign up</a>
            </p>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script src='/js/login.js'></script>