<div class='container'>

  <a href='/dashboard' class='form-text'> &larr; back to dashboard</a>
  <div class='container'>

    <div class='card'>

      <div class='card-title med-blue'>
        <span>edit post</span>
      </div>

      <div class='card-content'>

        <form class='edit-post-form'>
          <div>
            <label class='form-text' for='post-title'>title</label>
            <input name='post-title' type='text' value='{{post.title}}' />
          </div>
          <div>
            <label class='form-text' for='post-content'>content</label>
            <textarea name='post-content'>{{post.content}}</textarea>
          </div>
          <div class='buttons'>
            <button type='submit' class='btn med-blue edit-post-btn'>update post</button>
            <button type='button' id='delete-post-btn' class='btn deep-orange darken-4'>delete post</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script src='/js/edit-post.js'></script>
<script src="/js/delete-post.js"></script>